<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body class="container">

    <div>
        <p>This is index.html</p>
        <h1>Currency Exchange</h1>
    </div>

    <br>

    <div>
        
        <!-- Remember that your object is the FORM not the CURRENCY >:( -->
        <!-- Remember to include value for dropdown fields, the form should be sending the selected country's COUNTRY ID, to be used in conversion call in POST method -->

        <form method="POST" th:action="@{/convert}" th:object="${form}">

            <!-- "From" currency dropdown -->
            <div class="mb-3">
                <label class="form-label" style="display: inline-block; width: 100px;">From: </label>
                <select th:field="*{fromCurrency}" style="display: inline-block; width: 400px;">
                    <option value="" selected disabled>Select Currency</option>
                    <option th:each="currency : ${currencies}"
                            th:text="${currency.currencyName} + ' ' + ${currency.currencySymbol}"
                            th:value="${currency.id}"></option>
                </select>

                <div th:if="${#fields.hasErrors('fromCurrency')}" style="color: red; font-size: 12px; margin-left: 103px; width: 400px;">
                    <span th:errors="*{fromCurrency}"></span>
                </div>
            </div>
            

            <!-- "To" currency dropdown -->
            <div class="mb-3">
                <label class="form-label" style="display: inline-block; width: 100px;">To: </label>
                <select th:field="*{toCurrency}" style="display: inline-block; width: 400px;">
                    <option value="" selected disabled>Select Currency</option>
                    <option th:each="currency : ${currencies}"
                            th:text="${currency.currencyName} + ' ' + ${currency.currencySymbol}"
                            th:value="${currency.id}"></option>
                </select>

                <div th:if="${#fields.hasErrors('toCurrency')}" style="color: red; font-size: 12px; margin-left: 103px; width: 400px;">
                    <span th:errors="*{toCurrency}"></span>
                </div>
            </div>
            

            <!-- Amount field -->
            <div class="mb-3">
                <label class="form-label" style="display: inline-block; width: 100px;">Amount: </label>
                <input type="number" step="any" th:field="*{amount}" style="display: inline-block; width: 400px;">

                <div th:if="${#fields.hasErrors('amount')}" style="color: red; font-size: 12px; margin-left: 103px; width: 400px;">
                    <span th:errors="*{amount}"></span>
                </div>
            </div>


            <div>
                <button type="submit" style="display: block; margin-left: 103px;">Convert</button>
            </div>

        </form>
    </div>
    
</body>
</html>